<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dgsd.android.sydtrip">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name=".STApp"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.FavouritesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AddFavouriteActivity"
            android:label="@string/add_favourite"/>

        <activity
            android:name=".activity.RoutingResultListActivity"
            android:label="@string/results"/>

    </application>

</manifest>
